
.responsive {
    max-width: 100%;
    height: auto;
    }


*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

header, footer{
    text-align: center;
    background-color: #bbb;
    color: teal;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 2px 8px 16px 2px rgb(32, 32, 32);
    
}

body{
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
}


h2{
    font-size: 1rem;
    border-bottom: 1px solid #999;
    margin-bottom: 0.5rem;
    
}

header, main, footer{
    margin: 0 auto;
    padding: 00.75em;
    max-width: 32em;
}

header{
   margin: 1rem auto;
   border: 1px solid #eee;
   padding: .5rem;
   background-color: #bbb;
   display: grid;
   grid-template-columns: 100px 1fr;
   align-items: center;
}

#content {
    min-height: calc(100vh - 40px);
  }

.home{
    font-weight: bold;
    color: teal;
    font-weight: bold;
    text-decoration: none;
}
