header h1{
    font-family: "Lato", sans-serif;
    margin: 0;
  }

  header,
  footer,
  h2 {
    text-align: center;
    margin: 30px;
    color: teal;
  }

main{
    max-width: 760px;
    margin: 0 auto;
}

.card-stack {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
  }

  .card-1,
  .card-2,
  .card-3 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    text-align: center;
    border-radius: 20px 20px 0px 0px;
  }
  
  img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    align-items: center;
    max-width: 100%;
  }

  header,
  footer {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 780px;
    margin: 0 auto;
    background-color: #252324;
    color: white;
  }

  footer{
    margin-top: 10px;
  }
  .me{
    color: white;
  }
  .Home{
    color: white;
    text-decoration: none;
  }